@import "tailwindcss"; /*import tailwind*/ 

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.leaflet-container {
    height: 100vh;
    width: 140vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: white;
  text-shadow: 2px 2px 10px transparent;
  transition: text-shadow; 
  z-index: 1;
  align-items: center;
  position: relative;
  font-family: Nunito;
}

#searchInput {
    width: 100%;
    padding: 12px 20px; /*top right bottom left*/
    box-sizing: border-box;
    border-radius: 6px;
}

#resultList {
    z-index: 10000;
    list-style-type: none;
    background-color: #e9e8e8;
    padding: 0;
    margin: 0;

    max-height: calc(100vh - 69px);
    overflow-y: auto; /*scrollable*/
    overflow-x: hidden;
}

/*filtering functions*/
.filter {
    position: absolute;
    top: 25px;
    left: 16px;
    z-index: 2000;
    background: #242424;
    padding: 10px;
    border-radius: 6px;
}

/*The sidepanel menu*/
.sidepanel {
    width: 0;
    height: calc(100vh - 106px);
    position: fixed; /*stay in place*/
    z-index: 1000; /*stay on top*/
    top: 0;
    right: 0; /*show the panel on the right*/
    margin-top: 90px;
    margin-bottom: 70px;
    border-radius: 6px;
    background-color: #4c4c4c; /*black*/
    overflow-x: hidden; /*disable horizontal scroll*/
    overflow-y: scroll;
    padding: 40px 20ox; /*placed content 60px from the top*/
}

/*resizing bar*/
.resize-bar {
    position: absolute; 
    left: 0;
    top: 0;
    width: 6px;
    height: 100%;
    cursor: ew-resize;
    background: transparent;
}

.resize-bar:hover {
    background: rgba(0, 0, 0, 0.1);
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 15px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel .name {
    padding: 0px 0px 0px 20px;
    color: #181818;
    font-weight: bold;
    text-decoration: antiquewhite;
    align-items: center;
    justify-content: center;
    font-size: 29px;
}

/*display the text within the panel*/
.sidepanel a, .sidepanel p { 
    padding: 0px 10px 3px 20px;
    text-decoration: none;
    font-size: 17px;
    color: #585858;
    display: block;
    overflow-y: scroll;
    transition: 0.3;
}

.panel-image {
    width: 100%;
    height: auto;
    margin-bottom: 12px;
    border-radius: 6px;
    object-fit: cover;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #151515;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
  color: rgb(75, 75, 75);
}

.closebtn:hover {
    color: black;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  overflow-y: scroll;
  border: none;
}

.openbtn:hover {
  background-color: #1a1919;
}


/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

*/

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

