@import "tailwindcss"; /*import tailwind*/ 

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.leaflet-container {
    flex: 1;
    height: 100vh;
    width: 160vh;
    justify-content: center;
    align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: white;
  text-shadow: 2px 2px 10px transparent;
  transition: text-shadow; 
  z-index: 1;
  align-items: center;
  position: relative;
  font-family: Nunito;
}




/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

*/

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

